<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{name}}</h1>
    <h2>Fake News Detector</h2>
    <form
      id="form_pred"
      class="contact100-form validate-form"
      method="post"
      action="/api"
    >
      <div class="container">
        <label for="news"><b>News</b></label>
        <input type="text" placeholder="Enter News" name="news" required />
        <button type="submit">Predict</button>
      </div>
    </form>
  </body>
</html>
