<!DOCTYPE html>
<html>

<head>
    <title>Gradient color generator</title>

    <style>
        hr.new1{
          border: 1px solid white;
        }
        body {
            font: "Roboto";
            text-align: center;
            background: linear-gradient(to right,
                        #6c706f, #141414);
        }

        h1 {
            color: white;
        }
    </style>
</head>

<body  class="change">
    <h1 style="color:white; font-family:verdana;">Fake News Detector</h1>
    <h3></h3>

    <b></b>

<hr class="new1">
    <script>
        var css = document.querySelector("h3");
        var color1 = document.querySelector(".color1");
        var color2 = document.querySelector(".color2");
        var body = document.querySelector(".change");

        // Changing color for the gradient
        function changeGradient() {
            body.style.background =
                "linear-gradient(to right, "
                    + color1.value + ", "
                    + color2.value + ")";

            css.textContent = body.style.background + ";";
        }

        color1.addEventListener("input", changeGradient);

        color2.addEventListener("input", changeGradient);
    </script>
    
    
    
    
</body>

</html>
